---
import { type Button } from '../models';
import LocalImage from './LocalImage.astro';
import GalleryElement from './GalleryElement.astro';

interface Props {
    button: Button;
    index: number;
}

const { button, index } = Astro.props;
const name = `${button.name.en} v${index}`;
const anchor = name.replace(/[(]|[)]|[-]|\s/g, '_');
const themeKey = button.name.en.replace(/[(]|[)]|[-]|\s/g, '');
---

<tbody class={themeKey}>
    <tr id={anchor}>
        <td>{button.name.en}</td>
        <td><a href={`/ProtegeVariantGallery#${anchor}`}>v{index}</a></td>
        <td><LocalImage subdir='proofs' key={button.proof} alt={`${name} proof`} width={200} /></td>
        <td><GalleryElement imageName={button.image} variantName={name} /></td>
        <td>{button.origin}</td>
        <td>{button.finish}</td>
        <td>{button.edge}</td>
        <td>{button.total ?? 'Unknown'}</td>
    </tr>
</tbody>

<style define:vars={{ color: button.color }}>
	  tbody :global(td:nth-child(1)) { 
        background-image: linear-gradient(to right, var(--color) 0%, var(--color) 5%, white 100%); 
    }
</style>
